<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project 2</title>
</head>
<body>



    <h1>Hi. It's simple json repository based on Flask. Enjoy it.</h1>
    <h3>
        To find files by tag use URL: http://127.0.0.1:5000/storage/files/'tag'/
        <br>
        To update tag with existing file use URL: http://127.0.0.1:5000/storage/files/"tag"/"filename"/
        <br>
        Where "tag" - Tag you are searching for
        <br>
        "filename" - origin filename

    </h3>

    <br>
    <a href="/">Click to see project info</a>
        <br>
        <a href="/storage/stat/"  >Click to see project statistic</a>
        <br>
        <a href="/storage/files/"  >Click to open page to download file</a>



</body>
</html>