<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">Click to see project info</a>
        <br>
        <a href="/storage/stat/"  >Click to see project statistic</a>
        <br>
        <a href="/storage/files/"  >Click to open page to download file</a>

{% if files_list != [] %}

    <h1>Files with tag {{tag}}</h1>
    {% for files in files_list %}
    <br>

        <a href = "/storage/return/{{files['protected_name']}}">
            {{files['filename']}}
        </a>
    {% endfor %}

{% else %}

    <h1>No files with tag {{tag}} </h1>

{% endif %}


</body>
</html>