<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>

        <a href="/">Click to see project info</a>
        <br>
        <a href="/storage/stat/"  >Click to see project statistic</a>
        <br>
        <a href="/storage/files/"  >Click to open page to download file</a>

        </h2>
    <form action="/storage/files/{{oldtag}}/{{filename}}/" method="POST" enctype="multipart/form-data">
        <label for="tag">TAG</label>
        <br>
        <input type="text" name="tag" id="tag" value={{oldtag}}>

            <br>
            FILE {{filename}}

        <br>
        <input type="hidden" name="protect_name"  value="{{protectedname}}">
        <input type="hidden" name="file_name"  value="{{filename}}">
        <input type="hidden" name="old_tag"  value="{{oldtag}}">
        <input type="submit" value="send_info">


    </form>


</body>
</html>